<% if @question.errors.any? %>
  <div class="errors mt-sm mb-sm">
    <% @question.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= form_with model: question, data: {turbo: false} do |form| %>
  <%= form.hidden_field :user_id %>

  <div>
    <p><%= form.label :body, "Текст вопроса" %></p>
    <p><%= form.text_area :body, rows: 5, class: "form-text-area" %></p>
  </div>

  <% if question.persisted? %>
    <div class="mt-sm">
      <p><%= form.label :answer, "Ваш ответ"%></p>
      <p><%= form.text_area :answer, rows: 5, class: "form-text-area" %></p>
    </div>
  <% end %>

  <p class="mt"><%= form.submit "Сохранить", class: "button button-main" %>
    <% unless main %>
      или <%= link_to "вернуться", :back %>
    <% end %>
  </p>
<% end %>
