<div class="mb-sm">
  <% split_lines(question.body).each do |line| %>
    <p>
      <% with_tags(line).each do |element| %>
      <%= render_element(element) %>
      <% end %>
    </p>
  <% end %>
</div>

<% if question.answer.present? %>
  <div class="answer-box mb-sm">
    <% split_lines(question.answer).each do |line| %>
      <p>
        <% with_tags(line).each do |element| %>
          <%= render_element(element) %>
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
    <% unless @user %>
      for
      <%= link_to formatted_nickname(question.user), user_path(question.user) %>
    <% end %>
    <% if question.author.present? %>
      by
      <%= link_to formatted_nickname(question.author), user_path(question.author) %>
    <% end %>
  </div>

  <% if current_user == question.user %>
    <div>
      <div class="btn-icon">
        <% edit_icon = (question.answer.present? ? "pencil" : "reply") %>
        <% edit_title = (question.answer.present? ? "Изменить вопрос" : "Ответить") %>
        <%= button_to fa_icon(edit_icon), edit_question_path(question), title: edit_title, method: :get%>
      </div>
      <div class="btn-icon">
        <%= button_to fa_icon("trash-o"), question_path(question), method: :delete, title: "Удалить вопрос",
                      class: "btn-icon",
                      form: {data: {turbo_confirm: "Точно удалить вопрос?"}}%>
      </div>
      <% unless question.hidden? %>
        <div class="btn-icon">
          <%= button_to fa_icon("eye-slash"), hide_question_path(question), method: "put", title: "Скрыть вопрос",
                        class: "btn-icon",
                        form: {data: {turbo_confirm: "Точно скрыть вопрос?"}}%>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

