<div class="container">
  <p class="mt">
    <%= link_to "Создать новый вопрос", new_question_path, class: 'button button-main' %>
  </p>

  <p class="mt">
    <%= render "form", question: @question, main: true %>
  </p>
</div>

<div class="container mt-sm">
  <h2 class="title-lg">
    <%= count = @questions.count %>
    <%= inclination(count, "вопрос", "вопроса", "вопросов") %>
  </h2>
</div>
<% @questions.each do |question| %>
  <div class="mt-sm container <%= "hidden" if question.hidden? %>">
    <%= render "question", question: question %>
  </div>
<% end %>
