<% user_bg_color = @user.color %>
<% text_color = text_color(user_bg_color) %>
<div class="container user-box mb-sm" style="background-color:<%= user_bg_color %>;color:<%= text_color %>;">
  <h2 class="title-lg mt-lg"><%= @user.name %></h2>
  <p class="text-bold mt mb-lg">
    <%= formatted_nickname(@user) %>
    <% if current_user == @user %>
      <span class="ml-tiny mr-sm">
        <%= link_to fa_icon('pencil'), edit_user_path,
                    class: "btn-icon", title: "Редактировать",
                    style: "color:#{text_color};" %>
      </span>
    <% end %>
  </p>
</div>

<div class="container mt-sm">
  <% count = @questions.count %>
  <% if count > 0 %>
    <h2 class="title-lg">
      Этому пользователю задали
      <%= count = @questions.count %>
      <%= inclination(count, "вопрос", "вопроса", "вопросов") %>
    </h2>
  <% else %>
    <h2 class="title-sm">
      У этого пользователя пока ещё нет вопросов, поспешите задать первый!"
    </h2>
  <% end %>
  <p class="mt">
    <%= link_to "Задать вопрос", new_question_path(user_id: @user.id), class: 'button button-main' %>
  </p>
</div>
<% @questions.each do |question| %>
  <div class="mt-sm container <%= "hidden" if question.hidden? %>">
    <%= render question %>
  </div>
<% end %>
