<!DOCTYPE html>
<html>
  <head>
    <title>Ask me!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>

  <body>
    <div class="wrapper">
      <% if flash[:notice].present? %>
      <p class="mb message message-notice"><%= flash[:notice] %></p>
      <% elsif flash[:alert].present? %>
      <p class="mb message message-alert"><%= flash[:alert] %></p>
      <% end %>

      <% navbar_color = current_user.color if current_user.present? %>
      <% text_color = text_color(navbar_color) %>
      <div class="navbar mb-sm" style="background-color:<%= navbar_color %>;color:<%= text_color %>;">
        <p class="logo title-sm text-bold">
          <%= link_to "Ask me!", root_path,style: "color:#{text_color};" %>
        </p>
        <div>
          <% if current_user.present? %>
            <%= link_to formatted_nickname(current_user),
                        user_path(current_user),
                        style: "color:#{text_color};"%>
            <span class="ml-tiny mr-sm">
              <%= button_to fa_icon('sign-out'), session_path, method: :delete,
                            class: "btn-icon",
                            title: "Выход",
                            style: "color:#{text_color};"%>
            </span>
          <% else %>
            <%= link_to "Регистрация", new_user_path, class: "button button-navbar mr-sm" %>
            <%= link_to "Вход", new_session_path, class: "button button-navbar mr-sm" %>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
