<!DOCTYPE html>
<html>
  <head>
    <title>Ask me!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>

  <body>
    <div class="wrapper">
      <% if flash[:notice].present? %>
      <p class="mb message message-notice"><%= flash[:notice] %></p>
      <% elsif flash[:alert].present? %>
      <p class="mb message message-alert"><%= flash[:alert] %></p>
      <% end %>

      <div class="navbar mb-sm" style=<%= style_with_color %>>
        <p class="logo title-sm text-bold"><%= link_to "Ask me!", root_path %></p>

        <div>
          <% if current_user.present? %>
            <%= link_to formatted_nickname(current_user), user_path(current_user) %>
            <span class="ml-tiny mr-sm">
              <%= button_to fa_icon('sign-out'), session_path, method: :delete,
                            class: "btn-icon", title: "Выход" %>
            </span>
          <% else %>
            <%= link_to "Регистрация", new_user_path, class: "button button-navbar mr-sm" %>
            <%= link_to "Вход", new_session_path, class: "button button-navbar" %>
          <% end %>
          <div class="mr-sm ml-sm btn-icon">
            <%= button_to fa_icon("paint-brush"), edit_page_style_path,
                          method: :get,
                          title: "Редактировать стиль страницы",
                          class: "btn-icon"%>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
